.header {
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    padding: 1em;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #F5F3F4;
    /* z-index: 1; */
}

.modal-soma {
    max-width: 500px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-radius: 1em;
    text-align: right;
}

.modal-soma .modal-soma--valor {
    font-size: 1em;
    font-weight: bold;
}