.link {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

svg {
    width: 1.5em;
    height: 1.5em;
}

.gastos {
    position: relative;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}