.ButtonCreate {
    background: #3747A6;
    position: fixed;

    bottom: 1em;
    right: 1em;

    padding: 1.3em;
    border-radius: 1em;

    box-shadow: 0px 2px 10px #00000040;

    transition: .1s ease-out;

    cursor: pointer;
}

.ButtonCreate svg {
    color: white;
}

.ButtonCreate:hover {
    background-color: #6777D7;
}