* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F3F4;
  padding: 0.6em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  margin: .3em;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}

.button {
  padding: 1.5em;
  border: 0.5px solid #505050;
  border-radius: 5px;
  margin-bottom: 4em;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  background-color: #02c5c5;
  transition: ease-out .1s;
  cursor: pointer;
}

.button:hover{
  opacity: 0.8;
}